<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/main.css">
  </head>
  <body>
    <div>
      {%- include header.html -%}

      <div style="width: 75%; margin: 0 auto;">
        <h2 class="post-title" style="font-family: Roboto; font-size: 1.3em; margin-top: 1.2em;">{{ page.title }}</h2>
        <div class="page-content" style=" font-family: 'Piazzolla'; font-size: 1.2em;">
          {{ content }}
        </div>
      </div>
    </div>
    
    <footer style="background-color: #ffcc33;" class="site-footer">
      <div class="wrapper">
        <p>&copy; {{ "now" | date: "%Y" }} <br>
          <a href="https://ivanjvic.github.io/website"> &#64{{ site.twitter_username }}</a><br>
        </p>
      </div>
    </footer>

  </body>
  </html>
  
